<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="conteiner">
        <div class="logo">
            <img src="public/img/logo.svg">
        </div>

        <div class="center-line">
            <hr>
        </div>

        <div class="login-container">
            <form class="login">
                <input name="login" type="text" placeholder="login">
                <input name="password" type="password" placeholder="password">
                <button class="login-buttons">sign in</button>
                <button class="login-buttons">register</button>
            </form>
        </div>  

    </div>
</body>