<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/760d12b685.js" crossorigin="anonymous"></script>
    <title>WALK PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">People</a>
                </li>
                <li>
                    <i class="fas fa-walking"></i>
                    <a href="#" class="button">Walk</a>
                </li>
                <li>
                    <i class="fas fa-paw"></i>
                    <a href="#" class="button">Long-term care</a>
                </li>
                <li>
                    <i class="fab fa-meetup"></i>
                    <a href="#" class="button" id="meetings">Dog meetings</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="button">Notification</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header id="main-header">
                <div class="search-bar">
                    <form class="search">
                        <input type="search" placeholder="search">
                    </form>
                </div>

                <div class="upper-icons">
                    <a href="#"><i class="far fa-comment-dots"></i></a>
                    <a href="#"><i class="fas fa-user-circle"></i></a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </header>

            <section class="meetings-page">
                <div class="meet-announcements">
                    <div class="meet-announcement">
                        <div class="meet-pic">
                            <img src="public/img/park.JPG">
                        </div>
                        <div class="meet-main-section">
                            <div class="meet-header">
                                Miejsce, Data, Czas
                            </div>
                            <div class="meet-description">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, adipisci. Distinctio
                                modi amet enim, blanditiis placeat nisi accusantium excepturi error obcaecati minima
                                tempore mollitia nostrum dolorum molestias, iste quos est.
                            </div>
                            <div class="meet-going">
                                <header>
                                    Guests
                                </header>
                                <div class="meet-going-label">
                                    <div class="going">
                                        20<br>Going
                                    </div>
                                    <div class="intrested">
                                        12<br>Intrested
                                    </div>
                                </div>
                                <div class="meet-icon">
                                    
                                </div>
                            </div>
                            <div class="meet-buttons">
                                <button class="button">Going</button>
                                <button class="button">Intrested</button>
                            </div>
                        </div>
                    </div>
                    <div class="meet-announcement">
                        <div class="meet-pic">
                            <img src="public/img/park.JPG">
                        </div>
                        <div class="meet-main-section">
                            <div class="meet-header">
                                Miejsce, Data, Czas
                            </div>
                            <div class="meet-description">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, adipisci. Distinctio
                                modi amet enim, blanditiis placeat nisi accusantium excepturi error obcaecati minima
                                tempore mollitia nostrum dolorum molestias, iste quos est.
                            </div>
                            <div class="meet-going">
                                <header>
                                    Guests
                                </header>
                                <div class="meet-going-label">
                                    <div class="going">
                                        20 <br> Going
                                    </div>
                                    <div class="Intrested">
                                        12 <br> Intrested
                                    </div>
                                </div>
                                <div class="meet-icon">
                                    
                                </div>
                            </div>
                            <div class="meet-buttons">
                                <button class="button">Going</button>
                                <button class="button">Intrested</button>
                            </div>
                        </div>
                    </div>
                    <div class="meet-announcement">
                        <div class="meet-pic">
                            <img src="public/img/park.JPG">
                        </div>
                        <div class="meet-main-section">
                            <div class="meet-header">
                                Miejsce, Data, Czas
                            </div>
                            <div class="meet-description">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, adipisci. Distinctio
                                modi amet enim, blanditiis placeat nisi accusantium excepturi error obcaecati minima
                                tempore mollitia nostrum dolorum molestias, iste quos est.
                            </div>
                            <div class="meet-going">
                                <header>
                                    Guests
                                </header>
                                <div class="meet-going-label">
                                    <div class="going">
                                        20 <br> Going
                                    </div>
                                    <div class="Intrested">
                                        12 <br> Intrested
                                    </div>
                                </div>
                                <div class="meet-icon">
                                    
                                </div>
                            </div>
                            <div class="meet-buttons">
                                <button class="button">Going</button>
                                <button class="button">Intrested</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>