<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/760d12b685.js" crossorigin="anonymous"></script>
    <title>WALK PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">People</a>
                </li>
                <li>
                    <i class="fas fa-walking"></i>
                    <a href="#" class="button">Walk</a>
                </li>
                <li>
                    <i class="fas fa-paw"></i>
                    <a href="#" class="button">Long-term care</a>
                </li>
                <li>
                    <i class="fab fa-meetup"></i>
                    <a href="#" class="button" id="meetings">Dog meetings</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="button">Notification</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header id="main-header">
                <div class="search-bar">
                    <form class="search">
                        <input type="search" placeholder="search">
                    </form>
                </div>

                <div class="upper-icons">
                    <a href="#"><i class="far fa-comment-dots"></i></a>
                    <a href="#"><i class="fas fa-user-circle"></i></a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </header>

            <section class="walk-page">
                <div class="announcements">
                    <div class="announcement" id="ad1">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad2">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad3">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad4">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad5">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad6">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad7">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                    <div class="announcement" id="ad8">
                        <header class="announcement-header">
                            <div class="dog-name">Name</div>
                            <div class="dog-age">age</div>
                            <div class="dog-price">price</div>
                        </header>
                        <img class="announcement-img" src="public/img/pies.jpg">
                    </div>
                </div>

                <div class="page-picker">
                    <a href="#">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </section>
        </main>
    </div>
</body>