body {
    margin: 0;
    background: #333;
}

.container {
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 55%;
    text-align: center;
}

.logo > img {
    width: 19vw;
    margin: auto;
}

.login-container {
    width: 80%;
}

.center-line {
    width: 0;
}

hr {
    border: 1px solid #707070;
    height: 80vh;
    width: 0;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, .login-container > form > a {
    background: transparent linear-gradient(180deg, #535a5e 0%, #484e51 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: none;
    border-radius: 1.5vw;
    margin: 0.5em;
    line-height: 2em;
    width: 30%;
    font-size: large;
    color: #2CB16B;
    cursor: pointer;
}

.login-container > form > a {
    text-align: center;
    font: normal normal normal 19px arial;
    padding: 0.4em 0.1em;
}

button:hover {
    background: transparent linear-gradient(180deg, #535a5e 0%, #484e51 100%) 0 0 no-repeat padding-box;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #707070;
    margin: 1em;
    padding: 1em;
    width: 50%;
    font-size: small;
    color: #111111;
    outline: none;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #707070;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #087d4c 0%, #309a70 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0 10px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
}

main {
    margin-left: 20vw;
    width: 80vw;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

a > img {
    display: block;
    width: 65%;
    margin: 2em auto;
}

li i {
    font-size: 2em;
    color: #aaa;
}

.button, .meetings-page > a, .walk-page > a {
    background: transparent linear-gradient(180deg, #535a5e 0%, #484e51 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 2px solid #707070;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    color: #41c27d;
    padding: 0.1em 0.1em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: #707070;
    font: normal normal normal 38px/51px Yrsa;
    letter-spacing: 0.7px;
    font-size: larger;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, .fas {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent linear-gradient(180deg, #606060 0%, #5A5A5A 31%, #565656 38%, #505050 47%, #434343 65%, #3D3D3D 83%, #333333 100%) 0 0 no-repeat padding-box;
}

#main-header {
    backdrop-filter: blur(1.5em);
    position: fixed;
    width: 80vw;
    height: 8vh;
    min-height: 3em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #41c27d;
    box-shadow: 0 3px 6px #00000029;
}

.search-bar {
    margin: auto;
    width: 70%;
}

.icons {
    height: 100%;
    width: 0;
}

.upper-icons {
    display: flex;
    width: auto;
    font-size: calc(2.5vh + 12px);
    text-shadow: 0 3px 6px #00000029;
}

.upper-icons > a, .upper-icons > form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #41c27d;
    color: #41c27d;
    width: 5vw;
}

.upper-icons > form {
    padding-top: 0.25em;
    justify-content: start;


}

.upper-icons > form > button {
    background: none;
    box-shadow: none;
    color: #41c27d;
}

.upper-icons > form > button > i {
    font-size: xx-large;

}

.search-bar > input {
    background: transparent linear-gradient(180deg, #087d4c 0%, #309a70 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #808080;
    border-radius: 3em;
    text-align: left;
    letter-spacing: 1px;
    color: #eee;
    padding: 1.2vh 3em;
    margin: 1em;
}

.upper-icons i:hover {
    color: #63E49F;
}

.main-page {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-rows: 35% 65%;
    grid-template-areas:
    "logo right-side"
    "top-priority right-side";
    margin: auto 3em;
}

#logo-main {
    grid-area: logo;
}

#logo-main img {
    margin: 3em;
    width: 75%;
    height: inherit;
}

#top-priority {
    grid-area: top-priority;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    border: 1px solid #606060;
    border-radius: 4em;
    padding: 2.5em 2.5em 0 2.5em;
    color: #41c27d;
}

#top-priority h2 {
    text-align: center;
    font: normal normal bold 40px/51px Microsoft YaHei UI;
    font-size: 2.5vw;
    letter-spacing: 0;
    margin-top: 0.3em;
}

.mp-announcement {
    flex-direction: column;
}

.meetings-page > .mp-announcement > div > img {
    width: 14vw;
    height: 20vh;
}

.mp-announcement > .meeting > .meet-main-section {
    height: 20vh;
}

.mp-announcement > div > div > .meet-header {
    font-size: medium;
}

.mp-announcement > div > div > .meet-description {
    font-size: small;
}
.announcement {
    border-radius: 0 0 2em 2em;
    font: normal normal bold 16px/13px Arial;
    color: #e8e6e3;
    margin: 0 1vw;
    height: auto;
}

.dog-name, .dog-age, .dog-price {
    padding: 0.1em;
    margin: 1em 0.2em;
}

.dog-name, .dog-age {
    padding-right: 0.2em;
    border-right: 2px solid #e8e6e3;
}

#top-priority-announcements {
    display: flex;
    justify-content: center;
}

.announcement-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8vw;
    padding: 0.2em;

    background: transparent linear-gradient(180deg, #087d4c 0%, #309a70 100%) 0 0 no-repeat padding-box;
}

.announcement-img {
    width: 100%;
    height: 81%;
    border-radius: 0 0 2em 2em;
}

#tp {
    display: flex;
    gap: 2em;
    margin: 0;
    color: #ddd;
}

.announcement-tp > img {
    height: 16vh;
    width: 9vw;
}

#top-priority-footer {
    font-size: 0.9vw;
    text-align: right;
    margin: 3em 2em 2em 0;
}

#go-to-walk,  #most-popular a {
    text-decoration: underline;
    color: #52D38E;
}

#most-popular a {
    background: none;
    box-shadow: none;
    border: none;
}

#go-to-walk:hover {
    text-shadow: 0 0 5px #222222;
}

#go-to-walk:active {
    color: #505050;
    text-shadow: none;
}

#most-popular {
    grid-area: right-side;

    display: flex;
    flex-direction: column;
    justify-self: baseline;

    background-color: #606060;
    border: 1px solid #606060;
    border-radius: 64px;
    margin-left: 3em;
    padding-top: 2em;
}

#most-popular h2 {
    text-align: center;
    font: normal normal bold 40px/51px Microsoft YaHei UI;
    font-size: 3vw;
    letter-spacing: 0;
    margin-top: 0.3em;
    color: #52D38E;
}

.mp-announcement {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em
}

.img-mp {
    margin-top: auto;
    margin-bottom: auto;
}

.img-mp > img {
    width: 14vw;
    border-radius: 1.5em 0 0 1.5em;
}

.mp-main-section {
    background: transparent linear-gradient(180deg, #087d4c 0%, #309a70 100%) 0 0 no-repeat padding-box;
    border-radius: 0 2em 2em 0;

    font: normal normal bold 8px/12px Arial;
    letter-spacing: 0;
    color: #333333;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "date empty"
        "description icons"
        "description buttons";
}

.mp-date {
    grid-area: date;
    font-size: 0.9vw;
    padding: 0 2em;
}

.mp-description {
    grid-area: description;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: 500;
    padding: 0 2em;
    margin-top: 0.5em;
}

.mp-icons {
    grid-area: icons;
}

.mp-buttons {
    grid-area: buttons;
}

.mp-buttons > button {
    font-size: 0.7vw;
}

#most-popular a {
    width: auto;
    font-size: 0.9vw;
    margin-left: 25em;
    padding-bottom: 2em;
    line-height: 1.5em;
}

.walk-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements {
    margin: 1em 8em;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
}

.announcements > .announcement {
    width: 90%;
    height: 35vh;
}

.announcements > .announcement > .announcement-header {
    font-size: 1vw;
}



section {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: 10vh auto;
    font: normal normal bold 0.7em/19px Arial;
    color: #d7d5d2;
}

.meetings-page > a, .walk-page > a {
    width: 20%;
    font-size: 1.5em;
    margin-left: 60%;
    line-height: 1.5em;
}

.meetings-page > div > div {
    display: flex;
    justify-content: center;
    margin: 3em;
}

.meetings-page > div {
    row-gap: 2em;
}

.meetings-page > div > div > img {
    height: 24vh;
    width: 21vw;
    border-radius: 1em 0 0 1em;
}

.meet-main-section {
    height: 24vh;
    max-width: 50em;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header go"
                "description go"
                "description buttons";
    background: transparent linear-gradient(180deg, #087d4c 0%, #309a70 100%) 0 0 no-repeat padding-box;
    border-radius: 0 1em 1em 0;
}

.meet-header {
    grid-area: header;
    text-align: center;
    font-size: 1.8em;
    margin-left: 1em;
}

.meet-description {
    grid-area: description;
    align-self: flex-start;
    margin: 1em 2em 2em 2em;
    font-size: 1.3em;
    font-weight: 500;
}

.meet-going {
    grid-area: go;
    margin: 0.6em 1em;
    border: 1px solid #808080;
    background: #0e5538;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
}

.meet-going > header {
    font-size: large;
}

.meet-going-label {
    display: flex;
    justify-content: space-between;
    column-gap: 0.5em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font: normal normal normal 1.2em/1.2em Arial;
    font-weight: 700;
}

.meet-buttons {
    grid-area: buttons;
    justify-self: center;

}

.meet-buttons > button {
    width: max(6vw, 5rem);
    font-size: max(0.7em, 0.75vw);
    letter-spacing: 1px;
}

.registration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registration {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    height: 100vh;
    width: 100vw;
}

.registration-container > .logo > img {
    width: 30vw;

}

.registration > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration > form > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2CB16B;
    padding: 1em;
    margin: 1em;
    text-align: left;
    width: 25vw;
}

.registration > form > button {
    width: 10em;
}

.add-meeting {
    margin: 3em 4em;
    font: normal normal normal 2.3em/1em Yrsa;
    font-weight: 700;
    color: #111;
    row-gap: 0;
}

.add-meeting > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.add-meeting > form > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2CB16B;
    padding: 1em;
    margin: 1.5em;
    text-align: left;
    width: 25vw;
}

.add-meeting > form > input::placeholder {
    color: #111;
}

.add-meeting > form > button {
    margin-left: 4em;
}

.custom-upload-file-button::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-upload-file-button::before {
    content: 'Select files';
    display: inline-block;
    background: transparent linear-gradient(180deg, #535a5e 0%, #484e51 100%) 0 0 no-repeat padding-box;
    color: #52D38E;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

div.messages {
    color: firebrick;
    margin: 1em;
}

.no-valid {
    border: 4px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.4em red;
    outline: none;
}

.mobile-nav-toggle {
    display: none;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
        row-gap: 10em;
    }

    .login-container, .logo {
        width: 100%;
    }

    .logo > img {
        width: auto;
    }

    #logo-main {
        margin-top: 10em;
    }

    form {
        margin: auto;
        height: 40%;
    }

    hr {
        display: none;
    }

    button, .login-container > form > a {
        font-size: xx-large;
    }

    input {
        font-size: xx-large;
    }

    .registration-container {
        margin-top: 5em;
        flex-direction: column;
        align-items: flex-start;
    }

    .registration {
        height: auto;
        width: auto;
        margin: auto;
    }

    .registration > form > input {
        width: 100%
    }

    .upper-icons > a {
        width: 10vw;
    }
    .search-bar > input {
        margin-left: 5em;
        width: 70%;
        padding: 0.9vh 2em;
    }

    .main-page {
        display: flex;
        row-gap: 13em;
    }

    #most-popular {
        margin: 0;
        height: 40%;
    }

    #most-popular h2 {
        font-size: 4.5em;
    }

    main {
        margin: 0;
        width: 100vw;
    }

    #main-header {
        width: 100vw;
    }

    .upper-icons > form {
        padding-top: 0;
        height: 100%;
        width: 10vw;
        justify-content: start;
    }

    .upper-icons > form > button > i {
        font-size: 2em;
        margin-top: 0.2em;
    }

    nav {
        width: 80vw;
        z-index: 20;
        box-shadow: 0 9px 9px #00000029;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
    }

    nav[data-visible="true"] {
        transform: translateX(0%);
        transition: transform 350ms ease-out;
    }

    nav > a {
        margin-left: 12em;
        margin-top: 2.5em;
    }

    ul {
        font-size: 2.5em;
        padding: 3em;
        width: calc(80vw - 6em)
    }

    li {
        width: 70vw;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: none;
        box-shadow: none;
        font-size: 4.3em;
        color: #ddd;
        z-index: 9999;
        top: -.2em;
        left: -1.6em;
    }

    .mobile-nav-toggle:focus, .mobile-nav-toggle:active {
        background: none;
    }

    .meetings-page > div > div > img {
        height: 13vh;
        width: 33vw;
    }

    .meet-main-section {
        height: 13vh;
    }

    .meetings-page > a,  .walk-page > a{
        font-size: 1.5rem;
        padding: 0.3em 0.8em;
    }

    .meet-buttons {
        font-size: 2em;
    }

    .meet-going-label {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font: normal normal normal 1vw/2.2vw Arial;
        font-weight: 500;
        font-size: medium;
    }
    .announcements {
        display: flex;
        flex-direction: column;
    }

   .announcements > .announcement > .announcement-header {
       font-size: 2.5em;
   }

   #top-priority {
       width: 70%;
   }

   #top-priority h2 {
       font-size: 5em;
   }

   #tp {
       flex-direction: row;
   }

   .announcement-tp {
       width: 20em;
   }

   .announcement-tp > img {
       width: 20em;
   }

   .announcement-header {
       font-size: large;
   }

    .mp-announcement > .meeting > .meet-main-section {
        height: 10vh;
    }

    .meetings-page > .mp-announcement > div > img  {
        height: 10vh;
    }


    .meetings-page  > div > div {
        margin: 5em 4em;
    }

    .meet-header {
        line-height: 1.5em;
    }
}

