body{
    margin: 0;
    background: #333;
}

.container {
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 55%;
    text-align: center;
}

.logo > img {
    width: 19vw;
    margin: auto;
}

.login-container {
    width: 80%;
}


.center-line {
    width: 0;
}

hr {
    border: 1px solid #707070;
    height: 80vh;
    width: 0;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, .login-container > form > a {
    background: transparent linear-gradient(180deg, #707070 0%, #5A5A5A 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: none;
    border-radius: 1.5vw;
    margin: 0.5em;
    line-height: 2em;
    width: 30%;
    font-size: large;
    color: #52D38E;
    cursor: pointer;
}

.login-container > form > a {
    text-align: center;
    font: normal normal normal 19px arial;
    padding: 0.4em 0.1em;
}

button:hover {
    background: transparent linear-gradient(180deg, #606060 0%, #494949 100%) 0 0 no-repeat padding-box;
}

.login > .search-bar > input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #707070;
    margin: 1em;
    padding: 1em;
    width: 50%;
    font-size: larger;
}

@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }

    * {
        font-size: 30px;
    }

    .login-container, .logo {
        width: 100%;
        height: 40%;
    }

    .center-line{
        width: 0;
    }

    form{
        margin: auto;
        height: 40%;
    }

    hr {
        height: 0;
        width: 0;
    }

    button {
        font-size: xx-large;
    }

}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #707070;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #7FF7B4 0%, #3DC27C 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0 10px 0 0;

    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

a > img {
    display: block;
    width: 65%;
    margin: 2em auto;
}



li i {
    font-size: 2em;
}

.button {
    background: transparent linear-gradient(180deg, #707070 0%, #606060 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 2px solid #707070;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    color: #52D38E;
    padding: 0.1em 0.1em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: #707070;
    font: normal normal normal 38px/51px Yrsa;
    letter-spacing: 0.7px;
    font-size:larger;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, .fas {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent linear-gradient(180deg, #707070 0%, #5A5A5A 31%, #565656 38%, #505050 47%, #434343 65%, #3D3D3D 83%, #333333 100%) 0 0 no-repeat padding-box;
}

#main-header {
    height: 8vh;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #7FF7B4;
}

.search-bar {
    margin: auto;
    width: 70%;
}

.icons {
    height: 100%;
    width: 0;
}

.upper-icons {
    display: flex;
    width: auto;
    font-size: calc(2.5vh + 12px);
    text-shadow: 0 3px 6px #00000029;
}

.upper-icons > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #52D38E;
    color: #7FF7B4;
    width: 5vw;
} 


.search-bar > form > input {
    background: transparent linear-gradient(180deg, #7FF7B4 0%, #3DC27C 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 3em;
    text-align: left;
    letter-spacing: 1.3px;
    color: #707070;
    padding: 0.5em 1em 0.5em 3em;
    margin: 1em;
    width: 40%;
}

.upper-icons i:hover {
    color: #63E49F;
}

.main-page {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-rows: 35% 65%;
    grid-template-areas: 
    "logo right-side"
    "top-priority right-side";
    margin: 2em;
}

#logo-main {
    grid-area: logo;
}

#logo-main img {
    margin: 3em;
    width: 75%;
    height: inherit;
}

#top-priority {
    grid-area: top-priority;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    border: 1px solid #606060;
    border-radius: 4em;
    padding: 2.5em 2.5em 0 2.5em;  
    color: #52D38E;
}

#top-priority h2 {
    text-align: center;
    font: normal normal bold 40px/51px Microsoft YaHei UI;
    font-size: 2.5vw;
    letter-spacing: 0;
    margin-top: 0.3em;
}

.announcement {
    border-radius: 0 0 2em 2em;
    font: normal normal bold 16px/13px Arial;
    color: #707070;
    margin: 0 1vw;
    height: auto;

}

.dog-name, .dog-age, .dog-price{
    padding: 0.1em; 
    margin: 1em 0.2em;
} 

.dog-name, .dog-age {
    padding-right: 0.2em;
    border-right: 2px solid gray;
}

#top-priority-announcements {
    display: flex;
    justify-content: center;
}
.announcement-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8vw;
    padding: 0.2em;

    background: transparent linear-gradient(180deg, #7FF7B4 0%, #3DC27C 100%) 0 0 no-repeat padding-box;
}

.announcement-img {
    width: 100%;
    height: 81%;
    border-radius: 0 0 2em 2em;
}

#top-priority-footer {
    font-size: 0.9vw;
    text-align: right;
    margin: 3em 2em 2em 0;
}

#go-to-walk {
    text-decoration: underline;
    color: #52D38E;
}

#go-to-walk:hover {
    text-shadow: 0 0 5px #222222;
}

#go-to-walk:active {
    color: #505050;
    text-shadow: none;
}



#most-popular {
    grid-area: right-side;

    display: flex;
    flex-direction: column;
    justify-self: baseline;

    color: #505050;
    background-color: #606060;
    border: 1px solid #606060;
    border-radius: 64px;
    padding: 1em;
    margin-left: 3em;
}

#most-popular h2 {
    text-align: center;
    font: normal normal bold 40px/51px Microsoft YaHei UI;
    font-size: 3vw;
    letter-spacing: 0;
    margin-top: 0.3em;
    color: #52D38E;
}

.mp-announcement {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em
}

.img-mp {
    margin-top: auto;
    margin-bottom: auto;
}

.img-mp > img {
    width: 14vw;
    border-radius: 1.5em 0 0 1.5em;
}

.mp-main-section {
    background: transparent linear-gradient(180deg, #7FF7B4 0%, #3DC27C 100%) 0 0 no-repeat padding-box;
    border-radius: 0 2em 2em 0;

    font: normal normal bold 8px/12px Arial;
    letter-spacing: 0;
    color: #333333;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "date empty"
        "description icons"
        "description buttons";
}

.mp-date {
    grid-area: date;
    font-size: 0.9vw;
    padding: 0 2em;
}

.mp-description {
    grid-area: description;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: 500;
    padding: 0 2em;
    margin-top: 0.5em;
}

.mp-icons {
    grid-area: icons;
}

.mp-buttons {
    grid-area: buttons;
}

.mp-buttons > button {
    font-size: 0.7vw;
}

.walk-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(92vw - 2px);
}

.announcements {
    margin: 5vh auto 1em;
    height: 65vh;
    width: 50vw;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:        
        "ad1 ad2 ad3 ad4"
        "ad5 ad6 ad7 ad8";
    gap: 1.5vw;
}

.announcements > .announcement {
    width: 12vw;
    height: 35vh;
}

.announcements > .announcement > .announcement-header {
    font-size: 1vw;
}

#ad1 { grid-area: ad1;}

#ad2 { grid-area: ad2;}

#ad3 { grid-area: ad3;}

#ad4 { grid-area: ad4;}

#ad5 { grid-area: ad5;}

#ad6 { grid-area: ad6;}

#ad7 { grid-area: ad7;}

#ad8 { grid-area: ad8;}

.page-picker {
    margin: 3em auto;     
}

.page-picker > a {  
    font: normal normal bold calc(1vw + 10px) Arial;
    color:  #3DC27C;
    font-weight: 600;
    margin: 0 1vw;
}

.page-picker > a:hover {
    color:  #2CB16B;
    text-shadow: 0 0 3px #111;
}


.meetings-page {
    display: flex;
    flex-direction: row;
    margin: 3em;
    font: normal normal bold 20px/12px Arial;
}

.meet-announcement {
    display: flex;
    margin: 2em;
}

.meet-announcement > .meet-pic > img {
    height: 24vh;
    width: 21vw;
    border-radius: 1em 0 0 1em;
}

.meet-main-section {
    height: 24vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header go"
                "description go"
                "description buttons";
    background: transparent linear-gradient(180deg, #7FF7B4 0%, #3DC27C 100%) 0 0 no-repeat padding-box;
    border-radius: 0 1em 1em 0;
}

.meet-header {
    grid-area: header;
    text-align: center;
    font-size: 1.5vw;
}

.meet-description {
    grid-area: description;
    align-self: flex-start;
    margin: 1em 2em 2em 2em;
    font-size: 0.8vw;
    font-weight: 500;
}

.meet-going {
    grid-area: go;
    margin: 0.6em 1em;
    height: 9vh;
    border: 1px solid #707070;
    background: #baf4d4;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    padding: 1vw 2vh;
}

.meet-going-label {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font: normal normal normal 1vw/1.2vw Arial;
    font-weight: 700;
}

.meet-buttons {
    grid-area: buttons;
    justify-self: center;
}

.meet-buttons > button {
    width: 6vw;
    font-size: 0.75vw;
    letter-spacing: 1px;
}

.registration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registration {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    height: 100vh;
    width: 100vw;
}

.registration-container > .logo > img {
    width: 30vw;

}
.registration > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration > form > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2CB16B;
    padding: 1em;
    margin: 1em;
    text-align: left;
    width: 25vw;
}

.registration > form > button {
    width: 10em;
}

.add-meeting {
    margin: 3em 4em;
    font: normal normal normal 2.3em/1em Yrsa;
    font-weight: 700;
    color: #111;

}

.add-meeting > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.add-meeting > form > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2CB16B;
    padding: 1em;
    margin: 1.5em;
    text-align: left;
    width: 25vw;

}

.add-meeting > form > input::placeholder {
    color: #111;
}

.add-meeting > form > button {
    margin-left: 4em;
}

.custom-upload-file-button::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-upload-file-button::before {
    content: 'Select files';
    display: inline-block;
    background: transparent linear-gradient(
            180deg, #707070 0%, #5A5A5A 100%) 0 0 no-repeat padding-box;
    color: #52D38E;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

div.messages {
    color: firebrick;
    margin: 1em;
}





























