<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/760d12b685.js" crossorigin="anonymous"></script>
    <title>MAIN PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">People</a>
                </li>
                <li>
                    <i class="fas fa-walking"></i>
                    <a href="#" class="button">Walk</a>
                </li>
                <li>
                    <i class="fas fa-paw"></i>
                    <a href="#" class="button">Long-term care</a>
                </li>
                <li>
                    <i class="fab fa-meetup"></i>
                    <a href="#" class="button">Dog meetings</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="button">Notification</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">                                                           
                    </form>
                </div>

                <div class="upper-icons">
                    <i class="far fa-comment-dots"></i>
                    <i class="fas fa-sign-out-alt"></i>
                    <i class="fas fa-user-circle"></i>
                </div>
            </header>
            <section class="project">
                
            </section>
        </main>
    </div>
</body>